MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=supermanager_global

GLOBAL_MQTT_HOST=your-mqtt-broker-host
GLOBAL_MQTT_PORT=1883
GLOBAL_MQTT_USER=your-mqtt-user
GLOBAL_MQTT_PASS=your-mqtt-pass

NODE_PORT=4000
